* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Noto Sans', sans-serif;
    width:100vw;
}
.main-header{
    padding:10px 20px 0 20px;
}

.clearfix::after{
    clear:both;
    content:"";
    display:table;
}
.logo img{
    float:left;
    width:35%;
    height:15%;
}
.main-menu{
    float:right;
    margin-top:20px;
}
.main-menu ul{
    padding:0 20px;
    margin:0;
}
.main-menu ul li{
    display:inline-block;
    padding-right:20px; 
    font-family:Roboto,sans-serif;
    padding:20px 10px;
    color:#084A83;
    font-size:20px;
}
.main-menu ul li:hover{
    cursor:pointer;
}
.main-menu ul li:hover{
    background-color:#05668d;
    color:white;
}
.swiper-container{
    width:100vw;
    height:75vh;
}
.slide-inner{
    padding:20px;
}
.slide-content{
    float:left;
    width:50%;
    margin-top:10%;
    color:white;
    font-size:18px;
    padding-left:15px;
}
.slide-content h3{
    font-size:25px;
}
.slide-image{
    float:right;
    width:50%;
}
.slide-1{
    background-color:#27a2e2;
}
.slide-2{
    background-color:#37a6a4; 
}
.slide-3{
    background-color:#d8458f;
}
.slide-4{
    background-color:#8ebf17;
}
.slide-5{
    background-color:#4fb99f;
 
}
.slide-6{
    background-color:#f2b134;

}
.slide-7{
        background-color:#ed553b;

}
.form-image img{
    width:100%;
}
.form-text{
    width:40%;
    position:absolute;
    left:0;
    right:0;
    top:25%;
    margin:0 auto;
    background-color:white;
    padding:10px 0 0 0;
    text-align:center;
}
  input[type="text"],input[type="number"]{
        width:90%;
        padding:5px 0;
        border-radius:7px;
        box-shadow:2px 2px 2px;
        margin-bottom:4px;
    }
    textarea{
        width:90%;
        border-radius:7px;
        padding:10px 0 0 0;
        box-shadow:3px 3px 3px;
        margin-bottom:5px;
    }
    select{
        width:90%;
        padding:5px 0;
        border-radius:7px;
        box-shadow:2px 2px 2px;
        background-color:#f1f1f1;
    }
    input[type="submit"],input[type="reset"]{
        width:50%;
        float:left;
        padding:6px 0;
    }
    input[type="submit"]{
        background-color:#df6786;
        color:white;
    }
    input[type="reset"]{
        background-color:#3d155f;
        color:white;
    }
    h2{
        font-family: 'Roboto', sans-serif;

    }
.formmain{
    position:relative;
}
    
.about-us{
    padding:26px;
}
.about-us-title{
    text-align:center;
    font-size:39px;
    margin-top:12px;
    font-family:Roboto,sans-serif;
}
.about-us-text{
    font-size:26px;
    margin:5px 8px;
    padding:12px 50px;
}
.about-us-text-tagline{
    text-align:center;
    font-size: 25px;
    margin-bottom:12px;
}
.map iframe{
    width:100%;
    height:470px;
    margin-top:20px;
}
.map::after{
    clear:both;
    content:"";
    display:table;
}
#4{
    background-color:black;
}
footer img{
    float:left;
    margin-top:2%;
}

.left{
    float:right; 
    padding:30px 10px;
}
.middle{
    float:right;
     padding:30px 10px;
}
.right{
    float:right;
     padding:30px 10px;
}
footer i{
  color:#084A83;
     padding:0 15px;
}


@media only screen and (max-width: 768px)
{
    .main-header{
        padding:0;
        margin:0;
    }
    .main-menu{
        width:100%;
        margin:0;
        padding:0;
    }
    .main-menu ul li{
        width:25%;
        font-size:15px;
        float:left;
        padding:0;
    }
    .main-menu ul{
        width:100%;
    }
    
    .slide-content{
        float:none;
        width:90%;
    }
    .slide-image{
        float:none;
        width:100%;
    }
.slide-image img{
    width:100%;
}
.swiper-container{
    height:85vh;
}
    swiper-2 img,swiper-3 img,swiper-4 img{
        margin-left:5%;
    }
    swiper-5 img{
        margin-left:30%;
    }
    .about-us{
        width:100%;
    }
    .about-us-text{
        padding:10px;
        margin:0;
    }
    .form-text{
        width:100%;
        margin:0;
    }
    .form-image{
        display:none;
    }
    .formmain::after{
        clear:both;
        content:"";
        display:table;
    }
    @media only screen and (max-height:690px){
    .swiper-container{
    height:100vh;
}
    }